body{
  margin-left: 10vw;
  margin-right : 10vw;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.popularity {
  text-align: right;
}

button {
  background-color: #063466;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 1vw;
}

button:hover {
  background-color: #031e3c;
}

